// text-colors
$primary-color: #000;
$secondary-color: #fff;
$highlight-color: tomato;

// background colors
$bg-primary-color: #000;
$bg-secondary-color: lightgray;
$bg-highlight-color: tomato;

// notifications
$primary-bg-color: #cce5ff;
$primary-border-color: #b8daff;
$primary-text-color: #004085;

$error-bg-color: #f8d7da;
$error-border-color: #f5c6cb;
$error-text-color: #721c24;

$success-bg-color: #d4edda;
$success-border-color: #c3e6cb;
$success-text-color: #155724;