.results__body {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.results__notification {
  padding: 200px 20px;
  text-align: center;
  font-size: 40px;
}
