@import './../../sass/abstracts/variables.scss';

.movie {
  display: flex;
  padding: 40px 0;
  color: $secondary-color;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.movie__poster {
  min-width: 300px;
  margin: 0 45px;
}

.movie__info {
  margin: 0 30px;
}

.movie__title {
  color: $highlight-color;
}

.movie__row {
  display: flex;
  font-weight: 700;
}

.movie__year {
  margin-right: 40px;
}

.movie__genre,
.movie__plot {
  opacity: 0.8;
}

.movie__director,
.movie__actors {
  font-size: 1.3rem;
  opacity: 0.6;
}